@use "sass:color";
@import '../../../global.scss'; 

.servicesPage {
  padding: $space-md;
  max-width: $breakpoint-xxl;
  margin: 0 auto;
  background-color: $color-background;
  font-family: $font-family-base;

  .heading {
    
  @include services-heading; 
 
    margin-bottom: $space-xxl; 

  @media (max-width: $breakpoint-md) {
    font-size: $font-size-h3;
    margin-bottom: $space-lg;
  }
  @media (max-width: $breakpoint-sm) {
    font-size: $font-size-h4;
    margin-bottom: $space-md;
  
}
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $space-xl;

    @media (max-width: $breakpoint-lg) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $space-lg;
    }

    @media (max-width: $breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $space-lg;
    }

    @media (max-width: $breakpoint-sm) {
      grid-template-columns: 1fr;
      grid-gap: $space-lg;
    }
  }

  .serviceItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: $space-lg;
    border: 1px solid $color-border-subtle;
    border-radius: $border-radius-md;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: $shadow-sm;
    background-color: $color-surface;

    &:hover {
      transform: translateY(-5px);
      box-shadow: $shadow-md;
    }

    .image {
      width: 100%;
      height: 220px;
      object-fit: cover;
      border-radius: $border-radius-sm;
      margin-bottom: $space-md;
    }

    .title {
      font-family: $font-family-base;
      margin: 0;
      font-size: $font-size-h5;
      font-weight: $font-weight-semibold;
      margin-bottom: $space-xs;
      color: $color-text-title;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    p {
      font-family: $font-family-base;
      font-size: $font-size-base;
      color: $color-secondary;
      margin-bottom: $space-md;
    }

    .viewButton {
  @extend .btn-blue;
  padding: $space-sm $space-lg;
  margin-top: $space-sm;
  font-size: $font-size-base;
  border-radius: $border-radius-md;
  font-weight: $font-weight-bold; /* Makes the text bolder */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for better contrast */
}
  }
}


