# .gitignore

# Node.js and npm
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Logs
logs
*.log

# Build artifacts and caches
/dist
/dist-ssr
*.local
.vite
.cache
.env.local

# Sensitive files and environment variables
.env
.env.*.local
*.ts
*.js

# Firebase and hosting
firebase.json
.firebaserc
src/firebase.ts
hosting.log

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# My custom components and layouts
src/components/viewgallery/
src/components/cardcontainer/
src/components/infocontainer/
src/components/navbars/
src/layouts/MainLayout.tsx
src/layouts/mainLayout.scss
src/layouts/UserLayout.tsx