// src/components/languageSelector.scss

.language-selector {
    position: relative;
  
    button {
      padding: 0.5rem 1rem;
      background-color: #aca7a7;
      color: white;
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color: #8a8686;
      }
    }
  
    .language-dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: white;
      border: 1px solid #ccc;
      list-style: none;
      padding: 0;
      margin: 0;
      z-index: 1000;
  
      li {
        padding: 0.5rem 1rem;
        cursor: pointer;
  
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }