@use "sass:color";
@import '../../global.scss'; // Adjust the path based on your exact file structure

.footer {
  width: 100%;
  background-color: $color-text-light; // Use dark charcoal gray for footer background
  padding: $space-xxxs $space-lg; // More generous padding for a modern footer
  text-align: left;
  color: $color-background; // Light off-white for main footer text
  font-size: $font-size-sm; // Small font size for copyright

  margin-top: 0; // Ensures no default margin pushes it down

  p {
    color: color.adjust($color-background, $lightness: 40%);
    font-size: $font-size-sm;
    margin-bottom: $space-sm; // Using global spacing variable
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Ensure the link is never underlined by targeting all states
.footer-link,
.footer-link:visited,
.footer-link:active,
.footer-link:hover {
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  color: lighten($color-background, 40%); // Consistent with paragraph text
  text-decoration: none !important;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: $color-surface; // Hover to the primary orange accent color
}