// src/components/ImagePreloader/preloader.scss

@use "sass:color";
@import "../../global.scss";

.preloader-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: var(--color-background);
  justify-content: center;
  align-items: center;
}

.preloader-container.loading {
  display: flex;
}

.preloader-logo {
  max-width: 120px;
  height: auto;
  animation: subtlePulse 2s infinite ease-in-out; /* Apply a new, subtle animation */
}

@keyframes subtlePulse {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.05); /* A very slight scale up */
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
}