// src/components/ImagePreloader/preloader.scss

@use "sass:color";
@import "../../global.scss";

.preloader-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: var(--color-background); // Changed to a solid color
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader-container.loading {
  display: flex;
}

.spinner {
  border: 0.25rem solid rgba($color-text-dark, 0.1);
  width: 6.75rem;  // Made 3 times bigger
  height: 6.75rem; // Made 3 times bigger
  border-radius: 50%;
  border-left-color: $color-button-blue;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}